extends layout

block content
  
  div#home(data-role="page")

    div(data-role="header")
        h1#homeTitle That Conference
    
    div(data-role="content")
        h2 Sessions
        #offlineSet
            label.ui-hidden-accessible(for="flip-1") Enable Offline:
            select#offlineFlip(name="flip-1", data-role="slider")
                option(value="off") Online Mode
                option(value="on") Offline Mode
                
            
        ul#sessionList(data-role="listview", data-filter="true")

  div#session(data-role="page")

    div(data-role="header")
        a(data-rel="back", href="#home", data-icon="arrow-l") Sessions
        h1#sessionTitle

    div(data-role="content")
        #sessionDetails
  