|<html lang="en" manifest="/cache.manifest">
head
  meta(charset='utf-8')
  title That Conference - Mobile
  // Mobile Specific
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

  // CSS
  link(href="//ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.1/jquery.mobile-1.1.1.min.css", rel="stylesheet")
  != css("app")
  
  // jQuery 1.7.1
  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js')

  // jQuery Mobile
  script(src="//ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.1/jquery.mobile-1.1.1.min.js")

  != js("mvc-router")
  != js("app")
  != js("offline")
  != js("data")
  != js("pages")

body
  block content

  block scripts

|</html>