|CACHE MANIFEST
| # Version 1.1

|CACHE:
|/css/app.css
|http://ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.1/jquery.mobile-1.1.1.min.css
|http://ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.1/images/icons-36-white.png
|http://ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.1/images/icons-36-black.png
|http://ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.1/images/ajax-loader.gif

|http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js
|http://ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.1/jquery.mobile-1.1.1.min.js

|/js/icanhaz.js
|/js/mvc-router.js
|/js/app.js
|/js/data.js
|/js/offline.js
|/js/pages.js

|NETWORK:
|*
